<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="exampleBean" class="pl.zajavka.ExampleBean">
        <property name="injectedBean">
            <ref bean="injectedBean"/>
        </property>
        <property name="anotherInjectedBean" ref="anotherInjectedBean"/>
    </bean>
    <bean id="injectedBean" class="pl.zajavka.InjectedBean"/>
    <bean id="anotherInjectedBean" class="pl.zajavka.AnotherInjectedBean"/>
</beans>